$fec_primary: rgb(19, 97, 174);
$fec_secondary: white;
$fec_light : rgb(114,114,114);
$fec_dark : black;
$fec-info : blue;

// Media Query Mixins
@mixin mediaSm {
    @media screen and (max-width: 500px) {
      @content;
    }
  }
  
  @mixin mediaMd {
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
      @content;
    }
  }
  
  @mixin mediaLg {
    @media screen and (min-width: 769px) and (max-width: 1170px) and (orientation:landscape) {
      @content;
    }
  }
  
  @mixin mediaXl {
    @media screen and (min-width: 1171px) {
      @content;
    }
  }